#dom-node {
    height: 100px !important;
    width: 100px;
    overflow: hidden;
}

#root {
    border: 1px solid red !important;
    position: relative;
    height: 100px !important;
    width: 100px
}

svg {
    position: absolute;
    left: 5px;
    top: 5px
}
