dist: trusty
addons:
    firefox: "49.0"
    apt:
        sources:
          - google-chrome
        packages:
          - google-chrome-stable
language: node_js
node_js:
    - 6.2.2
before_script:
    # - export CHROME_BIN=chromium-browser
    - export DISPLAY=:99.0
    - sh -e /etc/init.d/xvfb start