@font-face {
    font-family: "Font 1";
    src: url("http://fonts.com/font1.woff2") format("woff2");
}

@font-face {
    font-family: "Font 2";
    src: url("http://fonts.com/font2.ttf") format("truetype");
}
