.with-before::before {
    content: 'JustBefore';
}

.with-after::after {
    content: 'JustAfter';
}

.with-both::before {
    content: 'BothBefore';
}

.with-both::after {
    content: 'BothAfter';
}

#dom-node {
    background-color: white;
    font-family: sans-serif;
    font-size: 20px;
}